<div class="row-content">
  <input type="text" placeholder="Insert Description" data-key="description" title="Insert Description" />
  <span class="icon-empty">
    <i class="fa fa-times"></i>
  </span>
</div>
