#list-social {
  position: fixed;
  top: 222px;
  z-index: 1;
  left: 0;
  ul{
    list-style-type: none;
    @include space(0, 0);
    li{
      cursor: pointer;
      color: white;
      text-align: center;
      @include space(14px 0 0 0, 0 0 0 -25px);
      @include size(45px);
      @include transition(all 0.2s linear);
      &[data-button='add']{
        background-color: #dd4167;
      }
      &[data-button='facebook']{
        background-color: $color-facebook;
      }
      &[data-button='twitter']{
        background-color: $color-twitter;
      }
      &[data-button='googleplus']{
        background-color: $color-googleplus;
      }
      &[data-button='linkedin']{
        background-color: $color-linkedin;
      }
      &[data-button='pinterest']{
        background-color: $color-pinterest;
      }
      &:hover{
        margin-left: 0px;
      }
      &.selected{
        margin-left: 0px;
      }
    }
  }
}
