<div id="list-social">
  <ul>
    <li data-button="add" class="selected">
      <i class="fa fa-plus"></i>
    </li>
    <li data-button="facebook">
      <i class="fa fa-facebook"></i>
    </li>
    <li data-button="twitter">
      <i class="fa fa-twitter"></i>
    </li>
    <li data-button="linkedin">
      <i class="fa fa-linkedin"></i>
    </li>
    <li data-button="googleplus">
      <i class="fa fa-google-plus"></i>
    </li>
    <li data-button="pinterest">
      <i class="fa fa-pinterest"></i>
    </li>
  </ul>
</div>
