<div id="list-social">
  <ul>
    <li class="show">
      <i class="fa fa-share-alt"></i>
    </li>
    <li data-button="facebook" class="bg-facebook show">
      <i class="fa fa-facebook"></i>
    </li>
    <li data-button="twitter" class="bg-twitter">
      <i class="fa fa-twitter"></i>
    </li>
    <li data-button="linkedin" class="bg-linkedin">
      <i class="fa fa-linkedin"></i>
    </li>
    <li data-button="googleplus" class="bg-googleplus">
      <i class="fa fa-google-plus"></i>
    </li>
    <li data-button="pinterest" class="bg-pinterest">
      <i class="fa fa-pinterest"></i>
    </li>
  </ul>
</div>
